body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 25px;
}

article {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

}

section {

    padding: 5px;
    width: 75px;
    line-height: 15px;
    font-size: 1em;
    text-align: left;
    flex-basis: 25%;
}